<web-app>

  <welcome-file-list>
  <welcome-file>sis.html</welcome-file>
  </welcome-file-list>
    
   <servlet>	
	   <servlet-name>ts</servlet-name>	
	   <servlet-class>TestServlet</servlet-class>	
   </servlet>	
   <servlet-mapping>	
	   <servlet-name>ts</servlet-name>	
	   <url-pattern>/test</url-pattern> 
   </servlet-mapping>	
   
    <servlet>	
		<servlet-name>js</servlet-name>	
		<servlet-class>JavaTrainerService</servlet-class>	
   </servlet>	
   <servlet-mapping>	
	   <servlet-name>js</servlet-name>	
	   <url-pattern>/java</url-pattern> 
   </servlet-mapping>
   
     <servlet>	
		<servlet-name>hs</servlet-name>	
		<servlet-class>HtmlTrainerService</servlet-class>	
   </servlet>	
   <servlet-mapping>	
	   <servlet-name>hs</servlet-name>	
	   <url-pattern>/html</url-pattern> 
   </servlet-mapping>	

   
</web-app>